@-webkit-keyframes slide-up-in {
  0% {
    transform: translate(0, 100%) rotate(1deg);
    opacity: 0;
    transform-origin: 0 0
  }

  100% {
    opacity: 1;
    transform: translate(0, 0) rotate(0);
    transform-origin: 0 0
  }
}

@keyframes slide-up-in {
  0% {
    transform: translate(0, 100%) rotate(1deg);
    opacity: 0;
    transform-origin: 0 0
  }

  100% {
    opacity: 1;
    transform: translate(0, 0) rotate(0);
    transform-origin: 0 0
  }
}

.fade_in {
  opacity: 1;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: slide-up-in;
  animation-name: slide-up-in
}

/* 
.title-first {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: slide-up-in;
  animation-name: slide-up-in
}

.subtitle-first {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: slide-up-in;
  animation-name: slide-up-in
} */


.btn {
  padding: 1.5625vw 2.1875vw;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all .3s;
  border-radius: 100px;
  z-index: 6;
  cursor: pointer;
  background: #39cb59;
  color: #fff;
  border: none;
  position: relative;
  letter-spacing: .03em;
  font-weight: 700
}


.rhide {
  display: none
}

.rhide:checked~span .check-label-act {
  transform: scale(1)
}

.rhide:checked~span .check-label.min {
  background-color: #5bd273
}

.rhide:checked~.block-imp-bf {
  background-color: #4ca352;
  border: 1px solid #4ca352
}

.rhide:checked~.tsm13 {
  color: #fff;
  position: relative
}

.rhide:checked~.times-block div.fancy-select div.trigger {
  color: #fff !important
}

.to_top {
  position: fixed;
  right: 2.5vw;
  bottom: 1.5vw;
  box-shadow: 0 0 84px rgba(0, 108, 163, .41);
  background-color: #dcbf8b;
  width: 3.5vw;
  height: 3.5vw;
  border-radius: 100%;
  padding: .7vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 189;
  opacity: 0;
  transform: scale(0);
  transition: all .4s
}

.to_top:before {
  content: '';
  position: relative;
  border: .8vw solid transparent;
  border-bottom: 1vw solid #fff;
  transform: translateY(-25%);
  transition: all .4s
}

.to_top.act {
  opacity: 1;
  transform: scale(1)
}

.to_top:hover:before {
  transform: translateY(-37%)
}

.area,
.input {
  height: 4.427vw;
  padding-left: 2.5vw;
  background: #fff;
  border-radius: 100px;
  width: 100%;
  position: relative;
  border: 0
}

@-webkit-keyframes loadingBg {
  0% {
    background-position: 2%
  }

  100% {
    background-position: 100%
  }
}

@keyframes loadingBg {
  0% {
    background-position: 2%
  }

  100% {
    background-position: 100%
  }
}

.policy {
  display: flex;
  align-items: center;
  gap: .729vw;
  cursor: pointer
}

.policy__check {
  width: 1.042vw;
  height: 1.042vw;
  border-radius: 7px;
  background: #39cb59;
  border: 1px solid #39cb59;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer
}

.policy__check img {
  display: none
}

input:checked~.policy__check img {
  display: block
}


.quiz-inner {
  padding: 3.229vw 4.479vw;
  background: #f9f9f9;
  border-radius: 1.823vw;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  position: relative
}

.quiz-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 0
}

.quiz-right__price {
  color: #fff;
  padding: .78125vw 2.083vw;
  background: #f63123;
  border-radius: 1.302vw
}

.quiz-person {
  position: relative
}

.quiz-person__img {
  display: flex;
  width: 24.271vw
}

.quiz-person p {
  position: absolute;
  left: 0;
  top: 8vw
}

.quiz-form {
  width: 47.917vw;
  height: 37.8125vw;
  display: flex;
  flex-direction: column;
  align-items: stretch
}

.quiz-progress {
  position: relative;
  margin-bottom: 2.34375vw;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center
}

.quiz-progress__bar {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 1.823vw;
  border-radius: 500px;
  background: #fff
}

.quiz-progress__inner {
  position: absolute;
  left: .3125vw;
  top: 50%;
  transform: translateY(-50%);
  height: 1.302vw;
  border-radius: 500px;
  background-color: #39cb59;
  -webkit-animation: loadingBg 15s infinite linear;
  animation: loadingBg 15s infinite linear;
  background-image: url(../media/svg/load.svg)
}

.quiz-progress p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

.quiz-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}

.quiz-options--inline .quiz-option {
  width: 47.3%;
  margin-bottom: 1.042vw
}

.quiz-options--inline .quiz-option:hover .quiz-option__wrapper {
  border: 1px solid rgba(57, 203, 89, .25)
}

.quiz-options--inline .quiz-option__input:checked~.quiz-option__wrapper {
  border: 1px solid #39cb59
}

.quiz-options--inline .quiz-option__wrapper {
  padding: 1.146vw;
  border-radius: 500px;
  background: #fff;
  transition: .3s;
  border: 1px solid transparent
}

.quiz-options--inline .quiz-option__wrap {
  display: flex;
  align-items: center
}

.quiz-options--inline .quiz-option__checkbox {
  margin-right: .833vw
}

.quiz-options--checkbox .quiz-option__checkbox {
  border-radius: 10px
}

.quiz-options--slider {
  display: flex;
  flex-direction: column;
  align-items: center
}

.quiz-options--img {
  margin-top: 3.333vw
}

.quiz-options--img .quiz-option {
  width: 10.9375vw
}

.quiz-options--img .quiz-option__img {
  display: flex;
  width: 100%;
  border-radius: 1.302vw;
  overflow: hidden
}

.quiz-options--img .quiz-option__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center
}

.quiz-options--img .quiz-option__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -.8vw
}

.quiz-options--img .quiz-option__checkbox {
  margin-bottom: .573vw
}

.quiz-option {
  cursor: pointer;
  color: #000
}

.quiz-option:hover svg path {
  fill: #39cb59
}

.quiz-option__input {
  display: none
}

.quiz-option__input:checked~.quiz-option__wrapper .quiz-option__checkbox {
  background: #39cb59
}

.quiz-option__input:checked~.quiz-option__wrapper .quiz-option__checkbox svg path {
  fill: #fff
}

.quiz-option__checkbox {
  width: 1.5625vw;
  height: 1.5625vw;
  background: #f9f9f9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center
}

.quiz-option__checkbox svg path {
  transition: .3s
}

.quiz-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto
}

.quiz-click {
  display: flex;
  align-items: center
}

.quiz-click__img {
  display: flex;
  width: 1.458vw;
  margin-right: 1.042vw
}

.quiz-btns {
  display: flex
}

.quiz-btn {
  padding: 1.302vw 2.76vw;
  margin-left: 1.042vw
}

.quiz-btn--prev {
  background: #e2e7e7
}

.quiz-btn__hint {
  position: absolute;
  left: 50%;
  bottom: 110%;
  width: 80%;
  color: #282828;
  box-shadow: 4px 7px 17px -6px #000;
  background-color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  z-index: 33;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: opacity .6s
}

.quiz-btn:hover:disabled .quiz-btn__hint {
  opacity: 1
}

.quiz-slider__top {
  display: flex;
  align-items: center;
  margin-bottom: 3.333vw;
  margin-top: 2.396vw
}

.quiz-slider__num {
  width: 7.8125vw;
  height: 3.90625vw;
  background: #fff;
  border-radius: 500px;
  border: 0;
  -moz-appearance: textfield;
  -webkit-appearance: none;
  margin: 0 .833vw;
  font-weight: 400
}

.quiz-slider__num::-webkit-inner-spin-button,
.quiz-slider__num::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0
}

.quiz-slider__slider {
  width: 41.667vw
}

.quiz-slider__slider .irs--flat .irs-line {
  height: 15px;
  background: #fff;
  border-radius: 500px
}

.quiz-slider__slider .irs--flat .irs-max,
.quiz-slider__slider .irs--flat .irs-min {
  display: none
}

.quiz-slider__slider .irs--flat .irs-single {
  display: none
}

.quiz-slider__slider .irs-grid {
  bottom: -12px
}

.quiz-slider__slider .irs--flat .irs-grid-pol {
  display: none
}

.quiz-slider__slider .irs--flat .irs-grid-text {
  color: #282828;
  font-size: .9375vw;
  font-weight: 400
}

.quiz-slider__slider .irs--flat .irs-grid-text::after {
  content: ' м';
  font-size: .9375vw;
  font-weight: 400
}

.quiz-slider__slider .irs--flat .irs-grid-text.js-grid-text-1 {
  left: 98% !important
}

.quiz-slider__slider .irs--flat .irs-bar {
  height: 15px;
  background: #f63123;
  border-radius: 500px
}

.quiz-slider__slider .irs--flat .irs-handle {
  background: #f15207;
  border: 3px solid #fff;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .1);
  border-radius: 50%;
  top: 19px;
  cursor: pointer;
  width: 25px;
  height: 25px
}

.quiz-slider__slider .irs--flat .irs-handle i:first-child {
  display: none
}

.quiz-check {
  display: flex;
  align-items: center;
  margin-top: 4.635vw;
  margin-left: 3vw;
  cursor: pointer
}

.quiz-check input:checked~.policy__check {
  background: #39cb59
}

.quiz-check input:checked~.policy__check svg {
  display: block
}

.quiz-check .policy__check {
  margin-right: .833vw;
  border: 1px solid #39cb59;
  background: 0 0
}

.quiz-check .policy__check svg {
  display: none
}

.quiz-semifinal__phone {
  display: flex;
  width: 31.25vw;
  position: absolute;
  right: 0;
  bottom: 0
}

.quiz-semifinal__badge {
  display: flex;
  width: 17.34375vw;
  position: absolute;
  left: 0;
  bottom: 0
}

.quiz-item--semifinal {
  display: flex;
  flex-direction: column;
  align-items: center
}

.quiz-item--semifinal .btn,
.quiz-item--semifinal .form-group {
  width: 27.542vw;
  margin-bottom: 1.40625vw
}

@media (max-width:767px) {
  .quiz {
    padding-top: 3.6rem
  }

  .quiz-inner {
    padding: 3.2rem 1.5rem;
    border-radius: 20px
  }

  .quiz-right {
    display: none
  }

  .quiz-form {
    width: 100%;
    height: auto
  }

  .quiz-progress {
    margin-bottom: 3.2rem
  }

  .quiz-progress__bar {
    height: 2.6rem
  }

  .quiz-progress__inner {
    left: 2px;
    height: 2.2rem
  }

  .quiz-progress p {
    font-size: 12px
  }

  .quiz-item h3 {
    margin-bottom: 2.6rem
  }

  .quiz-item h3~.fz20 {
    font-size: 1.2rem;
    margin-bottom: 2.4rem
  }

  .quiz-options--inline .quiz-option {
    width: 100%;
    margin-bottom: 1.6rem
  }

  .quiz-options--inline .quiz-option__wrapper {
    padding: 1.5rem 2rem
  }

  .quiz-options--inline .quiz-option__checkbox {
    margin-right: 1rem
  }

  .quiz-options--img {
    margin-top: 3.333rem
  }

  .quiz-options--img .quiz-option {
    width: 10.9375rem
  }

  .quiz-options--img .quiz-option__img {
    border-radius: 1.302rem
  }

  .quiz-options--img .quiz-option__wrap {
    margin-top: -.8rem
  }

  .quiz-options--img .quiz-option__checkbox {
    margin-bottom: .573rem
  }

  .quiz-option__checkbox {
    width: 3rem;
    height: 3rem
  }

  .quiz-option__wrap .fz20 {
    font-size: 1.2rem
  }

  .quiz-bottom {
    flex-direction: column;
    align-items: center;
    margin-top: 16px
  }

  .quiz-click {
    margin-bottom: 22px
  }

  .quiz-click__img {
    width: 2.8rem;
    margin-right: .8rem
  }

  .quiz-click p {
    font-size: 10px;
    line-height: 14px
  }

  .quiz-btn {
    padding: 1.302rem 2.76rem;
    margin-bottom: 8px;
    margin-left: 0;
    width: 172px;
    height: 60px
  }

  .quiz-slider__top {
    margin-bottom: 2rem;
    margin-top: 0
  }

  .quiz-slider__num {
    width: 7.8125rem;
    height: 3.90625rem;
    margin: 0 .833rem
  }

  .quiz-slider__slider {
    width: 100%
  }

  .quiz-slider__slider .irs--flat .irs-grid-text {
    font-size: .9375rem
  }

  .quiz-slider__slider .irs--flat .irs-grid-text::after {
    font-size: .9375rem
  }

  .quiz-check {
    margin-top: 3rem;
    margin-left: 0
  }

  .quiz-check .policy__check {
    margin-right: .833rem
  }

  .quiz-btns {
    flex-direction: column-reverse
  }

  .quiz-item--semifinal {
    padding-bottom: 38rem
  }

  .quiz-item--semifinal .fz24 br {
    display: none
  }

  .quiz-semifinal__phone {
    width: 31.25rem
  }

  .quiz-semifinal__badge {
    width: 17.34375rem;
    bottom: 60rem
  }

  .quiz-item--semifinal .btn,
  .quiz-item--semifinal .form-group {
    width: 18.542rem;
    margin-bottom: 1.40625rem
  }

  .quiz-item--semifinal .fz24.tac.lh150.mb {
    margin-bottom: 24rem
  }
}

.quiz-main {
  background: #fff url(../img/quiz-bg.png) top no-repeat;
  background-size: cover
}

.quiz-main .hero {
  padding-top: 3.542vw;
  padding-bottom: 39.948vw
}

.quiz-main .hero h1 {
  margin-bottom: 2.083vw
}

.quiz-main .hero .hero-btns {
  margin-bottom: 5.208vw
}

.quiz-main .hero .hero-text {
  margin-bottom: 3.125vw
}

.quiz-p {
  margin-top: -35vw
}